// Variables
$breakp-md: 768px;
// $header-height: 40px;
$header-height: 0;
$footer-height: 76px;
$padding-node-sm: 12px;
$padding-node-lg: 24px;
$gap: 20px;
$fx-bg: #BBB;

// Colors
$c-graph: #ff7be0;
$c-speed: #9991fc;
$c-reverb: #7be2ff;
$c-filter: #7bffd1;
$c-delay: #e4fa94;
$color-cross-fader: #444;

@mixin transThis($which, $time, $easeType) {
  -webkit-transition: $which $time $easeType;
  -moz-transition: $which $time $easeType;
  -o-transition: $which $time $easeType;
  transition: $which $time $easeType;
}

@mixin borderRadius($val) {
  -webkit-border-radius: $val; 
  -moz-border-radius: $val; 
  border-radius: $val;
}

@mixin placeContentInMiddle() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin makeResponsiveStyle($attr, $val-sm, $val-lg) {
  #{$attr}: $val-sm;
  @media screen and (min-width: $breakp-md) {
    #{$attr}: $val-lg;
  }
}

@mixin makeFatBoxShadow($left, $btm) {
  -webkit-box-shadow: $left $btm 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: $left $btm 0px 0px rgba(0,0,0,0.75);
  box-shadow: $left $btm 0px 0px rgba(0,0,0,0.75);
}

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  width: 100vw;
  height: 100vh;
  // position: fixed;
}

body {
	// font-family: 'Anonymous Pro', monospace;
	// font-family: 'Source Sans Pro', sans-serif !important;
	font-family: 'Montserrat', sans-serif;
  // overflow: hidden;
  color: #000;
}

a, a:visited, a:hover, a:focus, a:hover, a:active { text-decoration: none; }

header {
  width: 100%;
  height: $header-height;
  text-align: center; 
  background: #75C2BF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #75C2BF, #6BD6B8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #75C2BF, #6BD6B8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #75C2BF, #6BD6B8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #75C2BF, #6BD6B8); /* Standard syntax */
  /*position: fixed;*/
  .logo { 
    width: 100px;
    height: 100%;
    background-image: url("/img/efe-w.png"); 
    background-size: 40px 40px; 
    background-repeat: no-repeat;
    background-position: 20px; 
  }
}

/* analyser */
canvas { 
  width: 16vw;
  bottom: 5%;
  position: absolute;
}

canvas#analyser {
  left: 5%;
}

.alter-filter, #filter-title, .toggle-effect, .button-reg.tremolo { 
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

/* border radius */
.node, #start-one, #start-two, .effects, input[type="submit"], input[type="text"] {
  cursor: pointer;
}

.master {
  height: auto;
  .panel {
    position: relative;
    width: 100%;
    height: calc(100% - #{$footer-height});
    // height: auto;
    // margin: 6vh auto 100px auto;
    padding: $gap;
    /*background: #69ACBE;*/
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-gap: $gap;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    // grid-template-columns: 1fr 1fr 1fr;
    @media screen and (min-width: $breakp-md) {
      grid-template-columns: repeat(4, minmax(100px, 1fr));
      // grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(5, minmax(100px, 1fr));
      // grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    // overflow-y: scroll;
    overflow-y: scroll;
    &::-webkit-scrollbar { 
      display: none; 
    } 
    .node { 
      // width: 18vw;
      // height: 30vh;
      // float: left;
      // flex: 1 0 21%;
      // width: 25%;
      background: #ececec; /* Other good colors: #A0D2DF, #A0DFCF*/
      position: relative;
      // background: purple;
      padding: $padding-node-sm;
      @media screen and (min-width: $breakp-md) {
        padding: $padding-node-lg;
      }
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      flex-direction: column;
      @include borderRadius(4px);
      @include transThis(all, 0.2s, ease-out);
      @include makeFatBoxShadow(0px, 4px);
      // @include makeFatBoxShadow(-4px, 4px);
      &:hover {
        @include makeFatBoxShadow(0px, 8px);
        // @include makeFatBoxShadow(-8px, 8px);
        transform: translateY(-4px);
      }
      * {
        // background: red;
      }
      &.player { 
        // display: block;
        @include transThis(all, 0.5s, ease-out);
        &.ishovering {
          outline: 1px dashed #000;
          background: lighten(#FFF, 10%);
        }
        .artistinfo {
          width: 9vw;
          height: 6vw;
          margin: 1vw 1vw 0 0;
          float: right; 
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          overflow: hidden;
          font-size: 12px;
          white-space: normal;
        }
      }
      &#graph { background: $c-graph; }
      &#speed { background: $c-speed; }
      &#reverb { background: $c-reverb; }
      &#filter { background: $c-filter; }
      &#delay { background: $c-delay; }
      h2 { 
        
      }
      h3 { 
        
      }
      .gui-wrapper {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-direction: column;
        &.sliders {
          @include makeResponsiveStyle(height, 28px, 32px);
        }
        .slider-text {
          display: flex;
          justify-content: space-between;
          label, output {
            font-size: 12px;
            @media screen and (min-width: $breakp-md) {
              // font-size: 12px; 
            }
          }
          label {
            text-align: left;
          }
          output { 
            text-align: right;
          }
        }
        input {
          //
        }
      }
    }
  }
  /* Lower bar */
  .footer {
    width: 100%;
    height: $footer-height;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #d5d5d5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    .effects {
      width: 58px;
      height: 56px;
      // height: 100%;
      @include placeContentInMiddle();
      // margin: 1vh 0 1vh 1vh;
      // float: left;
      // line-height: 54px; 
      // opacity: 0.7;
      cursor: pointer;
      background: $fx-bg;
      @include borderRadius(2px);
      &:not(:first-child) {
        margin-left: 10px;
      }
      &:hover {
        background: darken($color: $fx-bg, $amount: 10);
      }
      &.ison {
        background: lighten($color: $fx-bg, $amount: 30);
      }
      &[name="graph"] { background: $c-graph; }
      &[name="speed"] { background: $c-speed; }
      &[name="reverb"] { background: $c-reverb; }
      &[name="filter"] { background: $c-filter; }
      &[name="delay"] { background: $c-delay; }
      h4 {
        font-size: 12px;
        font-weight: 400;
      }
      //   width: 8vw;
      //   display: table-cell;
      //   text-align: center;
      //   color: #424242;
      //   /* color: #75C2BF; */
      //   font-weight: 400; letter-spacing: .1vw;
      //   pointer-events: none;
      //   /*user-select: none;
      //   -moz-user-select: none;
      //   -webkit-user-select: none;
      //   -ms-user-select: none;*/
      // }
    }
  }
}

$btn-bg: transparent; // #1fea88
$btn-w: 148px;
$btn-h: 32px;

button {
  &:focus {
    outline: none;
  }
  &.upload-btn {
    background: $btn-bg;
    border: none;
    @include borderRadius(2px);
    // width: $btn-w;
    // height: 32px;
    top: calc(50% - #{$btn-h / 2});
    left: calc(50% - #{$btn-w / 2});
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    margin-top: 6px;
  }
  &:hover {
    background: lighten($color: $btn-bg, $amount: 10);
    color: lighten($color: #333, $amount: 10);
  }
}

.songsearch {
  background: none;
  clear: left;
  text-align: left;
  padding: 0 1vw;
  bottom: 1vw;
  position: absolute;
  width: calc(100% - 2vw);
}

input[type="text"] {
  font-family: 'Source Sans Pro', sans-serif;
  background: none; 
  width: 60%; height: 4vh;
  background: #f7f7f7;
  border-style: none;
  margin-right: .1%; padding-left: 6px; 
  font-size: 13px;
}

input[type="submit"] {
  font-family: 'Source Sans Pro', sans-serif;
  background: #69ACBE; color: #FFF; 
  width: 30%; height: 4.2vh;
  border-style: none;
  float: right;
}

.invisible { 
  opacity: 0.1;
  /* border: 1px dashed #E0E0E0; */
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.visible { opacity: 1; border: none; }

.button-reg-one, .button-reg-two {
  width: 6vw;
  height: 6vw;
  margin-right: 12px;
  color: #FFF; 
}

.button-reg-one {
  background: #69BBE7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #69BBE7, #70CDDF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #69BBE7, #70CDDF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #69BBE7, #70CDDF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #69BBE7, #70CDDF); /* Standard syntax */
}

/* 2nd play button */
.button-reg-two {
  background: #61B8FB;
}

#start-one, #start-two { 
  float: left;
  z-index: 100;
}

.on  { 
  /*background: #69BBE7;
  background: -webkit-linear-gradient(-90deg, #69ACBE, #6BBAA9);
  background: -o-linear-gradient(-90deg, #69ACBE, #6BBAA9);
  background: -moz-linear-gradient(-90deg, #69ACBE, #6BBAA9);
  background: linear-gradient(-90deg, #69ACBE, #6BBAA9);*/
  background: #9bcfea;
} 

.on-two { background: #03623F; }

// .button-reg-one, .button-reg-two, .totwogle-effect, .effects { 
//   -webkit-transition: background-color 0.2s ease-out;
//   -moz-transition: background-color 0.2s ease-out;
//   -o-transition: background-color 0.2s ease-out;
//   transition: background-color 0.2s ease-out;
// }

.buttonicon { 
  width: 100%; height: 100%;
  background-size: 36%; background-repeat: no-repeat; background-position: center;
  background-image: url("/img/play.png"); 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.pause { background-image: url("/img/pause.png"); }

.info { 
  float: right;
  margin: 1vw;
}

#play-arrow, #play-arrow-two { opacity: 1; }
#stop-box, #stop-box-two { opacity: 0; }

.tremolo { 
  width: 4vh; height: 4vh;
  position: absolute;
  left: 1vw; 
  bottom: 1vw;
  background: #69acbe;
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  border-radius: 50%;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center; 
}

.toggle-effect { 
  width: 20px; height: 20px;  
  float: left; border-radius: 30px;
  margin: 1vw 0 0 0; 
}

.toggle-effect, .tremolo {
  background: #ff7474;
}

.active { background: #70cbbc; }
.slur { margin-left: -10px; }
.two { opacity: 0.6; }

input {
  &[type="file"] {
    // display: none; 
  }
  &[type="name"] { 
    width: 40%;
    height: 20%;
    float: left; 
    font: 20px 'Source Sans Pro', sans-serif;
    font-weight: thin;
  }
}

.file-upload, .file-upload-two { 
  position: absolute;
  width: 6vw;
  height: 6vw;
  opacity: 0;
  margin: 0;
  z-index: 10;
  cursor: pointer;
  line-height: 14px;
  display: block;
} 

.svg-triangle {
  margin: 0 auto;
  width: 100px;
  height: 100px;    
}   

.svg-triangle polygon {
  fill: #FFF;
}

#drag-instr, #drag-instr-two { 
  color: #000;
  position: absolute; width: 100px; height: 80px; 
  margin: -96px 0 0 0; opacity: 1;
}
#drag-instr p, #drag-instr-two p { font-size: 14px; line-height: 11px; }

.gui-group { margin: 26px 0 0 0; }

input {
  outline: none;
}

// Input range
$thumb-size: 20px;
$color-slider: #151515; // #3D8087

input[type=range] {
  height: 4px;
  -webkit-appearance: none;
  background-color: $color-slider;
  @include borderRadius(2px);
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  background: $color-slider;
  height: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: $color-slider;
  opacity: 1;
  width: $thumb-size;
  height: $thumb-size;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  border: none;
  width: $thumb-size;
  height: $thumb-size;
  border-radius: 50%;
  background: $color-slider;
  cursor: pointer;
}

input[type=range]::-moz-focus-outer {
  border: none;
  background: none;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
  outline: none;
  outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}

#impulse {
    visibility: hidden;
}

#delaysliders { position: relative; }

#delay-output { position: relative; clear: both; width: 100%; opacity: 0; } 
#feedback-output { position: relative; clear: both; width: 100%; opacity: 0; } 
 
/*  */
#impulse { visibility: hidden; }

#analyser_render { width: 100%; height: 70%; }

#wavetable { 
  width: 8vw; height: 4vh;
  z-index: 20;
  position: absolute;
  bottom: 1vw; right: 1vw;
  opacity: 0.3;
}

.crossfader-box { 
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  h4 {
    width: auto;
    color: $color-cross-fader;
    font-weight: 400;
    &:first-child {
      margin-right: 10px;
    }
    &:last-child {
      margin-left: 10px;
    }
  }
  input[class="crossfader"] { 
    width: 150px;
    background: $color-cross-fader;
    border: 0;
  }
  
  input[class="crossfader"]::-webkit-slider-thumb {
    width: 40px;
    height: 40px; 
    // background: #F6F6F6;
    background: $color-cross-fader;
    cursor: pointer;
  }
}







/* ===============  Layout debug  ==================================== */

/*.crossfader-box { background: red; }*/
/*.toggle { background: green; }*/
/*.artistinfo { background: green; }*/





/* ===============  Mobile First Method  ============================= */

/*

  iPhone 6 portrait   375 x 667
  iPad 2          768 x 1024

*/  

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

@media only screen and (min-width : 320px) and (orientation : portrait) {
  /*#orientation { display: block; }*/
}

@media only screen and (min-width : 320px) and (orientation : landscape) {
  /*#orientation { display: none; }*/
}

@media only screen and (min-device-width : 768px) and (orientation : portrait) { 
    /*.node { width: 30vw; height: 20vh; }*/
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* iPad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* Largest Devices, Widest Screens */
@media only screen and (min-width : 1680px) {

}
